<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNAPPY</title>
    <link rel="stylesheet" href="/css-components/root-styles.css ">

</head>

<body class="home-body">
    <!--
    This is navigation bar in the header section of the page 
    -->
    <nav class="nav header">
        <a href="#" class="navbar-brand">SNAPPY</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav-list">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="/docs/docs.html">Docs</a>
                </li>
            </ul>
            <form action="" class="navbar-form">
                <input class="nav-input" type="search" name="" id="" placeholder="">
                <button class="btn btn-light submit-btn" type="submit">Search</button>
            </form>
        </div>
    </nav>