:root{
    --alert-padding: .5rem 1rem;
    --alert-color-primary: #0284C7;
    --alert-color-secondary: #16A34A;
    --alert-color-warning:#F1B24A;
    --alert-color-success: #8ebd4c;
    --alert-color-cancel: #E13434;
    --alert-color-light: white;
    --alert-radius-small: .5rem;
    --alert-border-width: .12rem;
    --alert-color-dark: black;
    --alert-width:100%
}


.hidden-alert {
    visibility: hidden;
    position: relative;
    display: flex;
  
}

.alert-primary-timeout{
    padding:  var(--alert-padding);
    background-color: var(--alert-color-primary);
    border-radius: var(--alert-radius-small);
    color: var(--alert-color-light);
}


.alert-cancel{
    padding:  var(--alert-padding);
    background-color: var(--alert-color-cancel);
    border-radius: var(--alert-radius-small);
    color: var(--alert-color-light);
}
.alert-close-btn{
cursor: pointer;
width: 4rem;
margin: 2rem;
}