.badge-applied-on {
    position: relative;
}

.badge-avatar {
    background-color: var(--color-green-primary);
    color: var(--color-white);
    border-radius: var(--space-fifty-percent);
    position: absolute;
    top: -5%;
    right: var(--space-five-percent);
    padding: var(--space-medium-rem);
}

.icon-medium {
    width: var(--space-twenty-percent);
}

.icon-small img {
    width: var(--space-hundred-percent);
}

.badge-icon {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    padding: var(--space-very-small-rem) var(--space-medium-rem);
    border-radius: var(--space-fifty-percent);
    background-color: var(--color-blue);
    color: var(--color-white);
}

.badge-on-card {
    display: block;
    position: absolute;
    top: var(--space-very-small-rem);
    color: var(--color-white);
    background-color: black;
    margin: var(--space-small-rem);
}