:root{
    --width-medium: 25%;
    --width-large: 80%;
    --small-padding:1rem;
    --small-number-unit:1;
}

.card{
   display: flex;
   flex-direction: column;
   /* justify-content: space-around; */
   border: 1px solid var(--border-color-dark);
   width: var(--width-medium);
   /* padding: var(--small-padding); */
}

.card .card-img{
    width: 100%;
}

.card .card-details {
    flex-grow: var(--small-number-unit);
    margin: .5rem;
}
.card-text-over-card-img{
  display: block;
  position: absolute;
  color: red;
  max-width: 100%;
  font-size: 3rem;
  top: .1rem;
}
.card-horizontal{
    flex-direction: row;
    width: var(--width-large);
    margin: 1rem;
}


.card-horizontal .card-image-container-horizontal{
  max-width: 30%;
  margin: 1rem;
  justify-content: space-between;
}