.body {
    display: grid;
    grid-template-areas: "head head"
        "aside main"
        "footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 5fr;
    margin: var(--zero-percent);
    /* max-width: 500px    ; */
}

.header {
    grid-area: head;
    background-color: var(--main-color);
    color: white;
    /* position: fixed; */
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: var(--sidebar-width);
    margin: 2.5rem;
    height: 600px;
    /* position: fixed; */

}

.main {
    grid-area: main;
}

.main-container {}

.main-container-heading {}

.main-container-components {
    display: flex;
    justify-content: space-evenly;

}

.footer {
    grid-area: footer;
    margin-top: 3rem;
    background-color: var(--secondary-color);
}
.alert-div{
    display: flex;
}