.grid {
    display: flex;
}

.grid-row-2 {
    width: 90%;
}

.grid-item {
    background-color:var(--light-gray-color);
    border: .8px solid var(--dark-gray-color);
    margin-top: -1px;
    padding: 1rem;
}

.grid-row-2>.grid-item {
    width: 50%;
}

.grid-row-3 {
    width: 90%;
}

.grid-row-3>.grid-item {
    width: 33.33%;
}

.grid-mix-3 {
    width: 90%;
    flex-direction: column;
}
.grid-mix-3>.grid-row-2{
    width: 100%;
}