.list-group {
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.list-group-border li {
    border: 1px solid var(--dark-gray-color);
    margin-top: -1px;
    padding: .7rem;
    background-color: var(--light-gray-color);
    display: block;

}

.list-group-border li:nth-child(1) {
    border-top-left-radius: var(--space-medium-rem);
    border-top-right-radius: var(--space-medium-rem);
}

.list-group-border :nth-last-child(1) {
    border-bottom-left-radius: var(--space-medium-rem);
    border-bottom-right-radius: var(--space-medium-rem);
}

.list-group-borderless li {
    border-bottom: 1px solid var(--dark-gray-color);
    padding: .7rem;
}

.list-group-borderless :nth-last-child(1) {
    border: none;
}