
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



@import "avatar.css";
@import "button.css";
@import "docs.css";
@import "alert.css";
@import "badge.css";
@import "card.css";
@import "input.css";
@import "navbar.css";
@import "rating.css";
@import "list.css";
@import "grid.css";
@import "text-utilities.css";

:root {
    --zero-pixels: 0px;
    --zero-percent: 0%;
    --main-color: #164A41;
    --primary-color:#4D774E;
    --secondary-color: #E7E5E4;
    --small-padding:2rem;
    --border-color-dark: black;
    
}


*{
    box-sizing: border-box;
}
