.toast{
    display: none;
    background-color: var(--dark-gray-color);
    background-color: rgb(206, 7, 7);
    color: white;
    z-index: 4;
    padding: .5rem;
    position: fixed;
    top: 1rem;
    text-align: center;
}